In [156]:
import pandas as pd

In [157]:
data = pd.read_csv(r'F:\Github_dsc\HousePrice_MegaProject\1. data_gathering\3. merging data\cx_data\merged_data\merged_data.csv')
print(data.shape)
data.sample(3)

(4123, 24)

,Unnamed: 0,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,property_type,noOfFloor
1471,1471,3 BHK Flat in Sector 109 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,ATS Kocoon,2.2 Crore,"₹ 10,501/sq.ft.",Super Built up area 2095(194.63 sq.m.)Built Up...,3 Bedrooms,4 Bathrooms,3 Balconies,Servant Room,"Sector 109 Gurgaon, Gurgaon, Haryana",13rd of 21 Floors,West,1 to 5 Year Old,"['Jagdish Super Market', 'Dwarka', 'Euro Inter...",This lovely 3 bhk apartment/flat in sector 109...,"['4 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area5 out of 5', 'Construction5 out of...",C69708274,NaN,flat,NaN
2344,2344,3 BHK Flat in Sector 107 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Signature Global Solera3.7 ★,60 Lac,"₹ 8,000/sq.ft.",Built Up area: 750 (69.68 sq.m.)Carpet area: 6...,3 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 107, Sector 107 Gurgaon, Gurgaon, Haryana",8th of 8 Floors,NaN,undefined,"['Gurgaon Dreamz Mall', 'Dwarka Expressway', ""...",Multistorey apartment is available for sale. I...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Green Area4.5 out of 5', 'Construction4.5 ou...",D69442244,NaN,flat,NaN
3323,3323,2 Bedroom House for sale in Sector 8 Gurgaon,https://www.99acres.com/2-bhk-bedroom-independ...,NaN,Price on Request,(74 sq.m.) Built-up Area,Built Up area: 800 (74.32 sq.m.),2 Bedrooms,1 Bathroom,No Balcony,NaN,"Sector 8 Gurgaon, Gurgaon, Haryana",NaN,NaN,undefined,NaN,"1 bath, semi-Furnished, at sector 8 location g...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",P69650298,NaN,house,1 Floors

dropping `Unnamed: 0` col

In [158]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [159]:
data.sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,property_type,noOfFloor
2015,3 BHK Flat in Sohna,https://www.99acres.com/3-bhk-bedroom-apartmen...,Eldeco Accolade3.8 ★,1.1 Crore,"₹ 7,549/sq.ft.",Super Built up area 1457(135.36 sq.m.),3 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",13rd of 17 Floors,NaN,1 to 5 Year Old,"['Global City Centre', 'Sohna Road', 'Damdama ...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Green Area5 out of 5', 'Construction4.5 out ...",K70055840,NaN,flat,NaN
3711,2 Bedroom House for sale in Ashok Vihar Phase ...,https://www.99acres.com/2-bhk-bedroom-independ...,NaN,70 Lac,(93 sq.m.) Plot Area,Plot area 111(92.81 sq.m.),2 Bedrooms,3 Bathrooms,1 Balcony,"Pooja Room,Store Room","G1 Block , House No 49, Ashok Vihar Phase 3 Ex...",NaN,North,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Spacious room, proper ventilation, beautiful t...",NaN,"['Water purifier', 'Water Storage', 'Park', 'I...","['Environment3 out of 5', 'Lifestyle4 out of 5...",T53352198,"₹ 7,007/sq.ft.",house,1 Floors
3649,3 Bedroom House for sale in Ashok Vihar,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,90 Lac,(84 sq.m.) Plot Area,Plot area 900(83.61 sq.m.)Built Up area: 3500 ...,3 Bedrooms,4 Bathrooms,3 Balconies,Others,"Phase 3 Extn., Ashok Vihar, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",L shape plot. Commercial cum residential const...,"['1 Bed', '5 Wardrobe', '1 Water Purifier', '4...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5...",F45310333,"₹ 10,000/sq.ft.",house,3 Floors

# trying to clean or featureEngineer `property_name` col

In [160]:
data['property_name'].value_counts()

property_name
2 BHK Flat in Sohna                           126
3 BHK Flat in Sector 102 Gurgaon               76
3 BHK Flat in Sector 65 Gurgaon                57
3 BHK Flat in Sector 92 Gurgaon                53
3 BHK Flat in Sector 69 Gurgaon                51
                                             ...
10 Bedroom House for sale in Ravi Nagar         1
6 Bedroom House for sale in Farukhnagar         1
9 Bedroom House for sale in Sheetla Colony      1
3 BHK Flat in Civil Lines                       1
8 Bedroom House for sale in DLF Phase 2         1
Name: count, Length: 985, dtype: int64

In [161]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [162]:
data['property_name'].str.lower().str.strip()

0                            2 bhk flat in krishna colony
1                               2 bhk flat in ashok vihar
2                                     2 bhk flat in sohna
3                         2 bhk flat in sector 61 gurgaon
4                         2 bhk flat in sector 92 gurgaon
                              ...
4118                   3 bedroom house for sale in bissar
4119                   3 bedroom house for sale in bissar
4120              8 bedroom house for sale in dlf phase 2
4121    8 bedroom house for sale in c block sushant lo...
4122        2 bedroom house for sale in sector 92 gurgaon
Name: property_name, Length: 4123, dtype: object

In [163]:
data.columns

Index(['property_name', 'link', 'society', 'price', 'area', 'areaWithType',
       'bedRoom', 'bathroom', 'balcony', 'additionalRoom', 'address',
       'floorNum', 'facing', 'agePossession', 'nearbyLocations', 'description',
       'furnishDetails', 'features', 'rating', 'property_id', 'rate',
       'property_type', 'noOfFloor'],
      dtype='object')

# couldn't clean it, decided to move to work on simpler cols first.

In [164]:
data.columns

Index(['property_name', 'link', 'society', 'price', 'area', 'areaWithType',
       'bedRoom', 'bathroom', 'balcony', 'additionalRoom', 'address',
       'floorNum', 'facing', 'agePossession', 'nearbyLocations', 'description',
       'furnishDetails', 'features', 'rating', 'property_id', 'rate',
       'property_type', 'noOfFloor'],
      dtype='object')

In [165]:
data.sample(5)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,property_type,noOfFloor
522,3 BHK Flat in Sector 104 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Puri Emerald Bay3.7 ★,2.45 Crore,"₹ 10,000/sq.ft.",Super Built up area 2450(227.61 sq.m.)Carpet a...,3 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"Sector 104 Gurgaon, Gurgaon, Haryana",14th of 29 Floors,South,1 to 5 Year Old,"['Sector-21 Metro Dwarka', 'Gurgaon Dreamz Mal...",Puri emerald bay sector 104 is designed with a...,"['5 Fan', '3 Geyser', '5 Light', '5 AC', '1 Ch...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction5 out of...",C57408058,NaN,flat,NaN
4062,5 Bedroom House for sale in Sector 106 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Godrej Meridien,5.6 Crore,(372 sq.m.) Plot Area,Plot area 4000(371.61 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room,Store Room","Aa1, Sector 106 Gurgaon, Gurgaon, Haryana",NaN,North-East,Within 6 months,"['Huda metro station', 'Gurgaon Dreamz Mall', ...",Sector 106 gurgaon is one of gurgaon's most so...,"['1 Wardrobe', '1 Fan', '1 Geyser', '1 Light',...","['Centrally Air Conditioned', 'Water purifier'...",NaN,V69168320,"₹ 14,000/sq.ft.",house,33 Floors
2150,2 BHK Flat in Sector 67A Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Pyramid Urban,60 Lac,"₹ 8,571/sq.ft.",Super Built up area 700(65.03 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 67A Gurgaon, Gurgaon, Haryana",14th of 14 Floors,NaN,0 to 1 Year Old,"['Airia Mall, Sector 68', 'M3M Cosmopolitan Ma...",We are the proud owners of this 2 bhk apartmen...,[],"['Lift(s)', 'Park', 'Shopping Centre']","['Environment5 out of 5', 'Lifestyle4 out of 5...",T69835524,NaN,flat,NaN
4029,4 Bedroom House for sale in Sector 82 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,Vatika Signature Villas,5 Crore,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,"Store Room,Servant Room,Pooja Room","S Block, Sector 82 Gurgaon, Gurgaon, Haryana",NaN,East,1 to 5 Year Old,"['IFFCO Chowk Flyover', 'Vega Schools', 'IGIA']",360 sq.Yrd duplex villa avl for sale in vatika...,"['5 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Private Garden / Terrace', 'Maintenance Staf...","['Environment4 out of 5', 'Safety4 out of 5', ...",U68448652,"₹ 15,432/sq.ft.",house,3 Floors
1396,3 BHK Flat in Sector 70 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Shree Vardhman Victoria3.8 ★,1.62 Crore,"₹ 8,307/sq.ft.",Super Built up area 1950(181.16 sq.m.)Carpet a...,3 Bedrooms,5 Bathrooms,3 Balconies,Servant Room,"123, Sector 70 Gurgaon, Gurgaon, Haryana",9th of 18 Floors,North,1 to 5 Year Old,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...",This 3 bhk flat is located in shree vardhman v...,NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Green Area5 out of 5', 'Construction5 out of...",C69936836,NaN,flat,NaN

# noOfFLoors

In [166]:
data['noOfFloor'].shape

(4123,)

In [167]:
data['noOfFloor'].value_counts(dropna=False, normalize=True)

noOfFloor
NaN          0.765462
3 Floors     0.074945
2 Floors     0.072763
1 Floors     0.044385
4 Floors     0.033713
5 Floors     0.002183
0 Floors     0.001455
6 Floors     0.000728
14 Floors    0.000728
11 Floors    0.000485
10 Floors    0.000485
12 Floors    0.000485
13 Floors    0.000243
27 Floors    0.000243
21 Floors    0.000243
20 Floors    0.000243
02 Floors    0.000243
41 Floors    0.000243
51 Floors    0.000243
16 Floors    0.000243
33 Floors    0.000243
Name: proportion, dtype: float64

In [168]:
data[data['property_type']!='flat'].sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,rate,property_type,noOfFloor
3926,5 Bedroom House for sale in Sector 73 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,DLF Alameda,17 Crore,(450 sq.m.) Plot Area,Plot area 4842(449.84 sq.m.)Built Up area: 900...,5 Bedrooms,8 Bathrooms,3 Balconies,"Study Room,Pooja Room,Servant Room,Store Room","Alameda, Sector 73 Gurgaon, Gurgaon, Haryana",NaN,North-West,1 to 5 Year Old,"['Raheja Mall', 'Captain Chandan Lal Marg', 'B...",It is a tastefully made villa with best of des...,"['1 Water Purifier', '1 Fan', '1 Fridge', '1 E...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,I69434116,"₹ 35,109/sq.ft.",house,3 Floors
3612,6 Bedroom House for sale in Sector 1 Gurgaon,https://www.99acres.com/6-bhk-bedroom-independ...,NaN,4.75 Crore,(418 sq.m.) Built-up Area,Built Up area: 4500 (418.06 sq.m.),6 Bedrooms,7 Bathrooms,No Balcony,NaN,"Gurugram ,palam Vihar , Hblock ... ..Opposite ...",NaN,NaN,undefined,NaN,"6bhk villa for resale in sector 1 gurugram ,pa...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,NaN,M67903926,"₹ 10,556/sq.ft.",house,4 Floors
3983,4 Bedroom House for sale in Sector 48 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,Vipul Tatvam Villa,5.75 Crore,(241 sq.m.) Plot Area,Plot area 288(240.8 sq.m.)Built Up area: 280 s...,4 Bedrooms,4 Bathrooms,2 Balconies,Servant Room,"111, Sector 48 Gurgaon, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",A beautiful and well maintained 4 bhk villa fo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment4 out of 5', 'Safety4 out of 5', ...",J70401724,"₹ 22,184/sq.ft.",house,2 Floors

In [169]:
data[(data['property_type']!='flat') & (data['noOfFloor'].isna())].shape

(128, 23)

# droipping property_id col since no use for now

In [170]:
data.drop(columns='property_id', axis=1, inplace=True)
data.sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,rate,property_type,noOfFloor
2989,3 BHK Flat in Sector 92 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Sare Homes,82 Lac,"₹ 5,384/sq.ft.",Super Built up area 1523(141.49 sq.m.)Built Up...,3 Bedrooms,3 Bathrooms,3+ Balconies,NaN,"T2, 1201, Sector 92 Gurgaon, Gurgaon, Haryana",12nd of 15 Floors,West,1 to 5 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",This spacious multistorey apartment is located...,"['2 Wardrobe', '1 Exhaust Fan', '7 Light', 'No...","['Security / Fire Alarm', 'Intercom Facility',...","['Safety3 out of 5', 'Lifestyle4 out of 5', 'E...",NaN,flat,NaN
3603,2 Bedroom House for sale in Sector 89 Gurgaon,https://www.99acres.com/2-bhk-bedroom-independ...,Greenopolis,70 Lac,(121 sq.m.) Built-up Area,Built Up area: 1297 (120.5 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 89,gurgaon, Sector 89 Gurgaon, Gurgaon,...",NaN,North-East,undefined,NaN,2bhk residential house for new property in 3c ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...","₹ 5,397/sq.ft.",house,14 Floors
2753,2 BHK Flat in Sector 76 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Suncity Avenue 76,55 Lac,"₹ 7,422/sq.ft.",Carpet area: 741 (68.84 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 76 Gurgaon, Gurgaon, Haryana",9th of 14 Floors,North-East,Under Construction,"['Omaxe Gurgaon Mall', 'Gurugram University', ...","Ninth floor, corner north east facing",NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...",NaN,NaN,flat,NaN

In [171]:
data.sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,rate,property_type,noOfFloor
1661,3 BHK Flat in Sector 86 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,DLF New Town Heights 24.0 ★,1.28 Crore,"₹ 8,205/sq.ft.",Super Built up area 1930(179.3 sq.m.)Carpet ar...,3 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Servant Room","Sector 86 Gurgaon, Gurgaon, Haryana",12nd of 22 Floors,West,5 to 10 Year Old,"['City Square', 'Vatika Town Square', 'Bharat ...","Call for visit, keys in hand. Sun facing, park...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ...",NaN,flat,NaN
244,3 BHK Flat in Sector 71 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,CHD Avenue 713.6 ★,1 Crore,"₹ 6,734/sq.ft.",Super Built up area 1485(137.96 sq.m.),3 Bedrooms,3 Bathrooms,3+ Balconies,NaN,"Tower15 Flat No 302, Sector 71 Gurgaon, Gurgao...",3rd of 14 Floors,North,1 to 5 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...","Ready to move in ,\n , nice view from balcony ...","['2 Wardrobe', '4 Fan', '1 Exhaust Fan', '4 Li...",['Visitor Parking'],"['Green Area5 out of 5', 'Amenities4 out of 5'...",NaN,flat,NaN
3733,4 Bedroom House for sale in Sector 112 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,Experion Windchants3.8 ★,7.46 Crore,(590 sq.m.) Built-up Area,Built Up area: 6350 (589.93 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,"Servant Room,Pooja Room","1610, Sector 112 Gurgaon, Gurgaon, Haryana",NaN,East,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...",Available for sale luxury 4bhk villa experion ...,"['5 Geyser', '7 AC', '1 Modular Kitchen', '1 C...","['Private Garden / Terrace', 'High Ceiling Hei...","['Environment5 out of 5', 'Lifestyle4 out of 5...","₹ 10,260/sq.ft.",house,2 Floors

# working on bedroom, bathroom, balcony cols

In [172]:
data['bedRoom'].str.strip().str.lower().fillna('').value_counts(dropna=False)

bedRoom
3 bedrooms     1590
2 bedrooms     1039
4 bedrooms      721
5 bedrooms      229
1 bedroom       143
                127
6 bedrooms       85
9 bedrooms       45
8 bedrooms       34
7 bedrooms       32
12 bedrooms      29
10 bedrooms      21
16 bedrooms      12
13 bedrooms       4
19 bedrooms       2
18 bedrooms       2
11 bedrooms       2
21 bedrooms       1
bedroom           1
36 bedrooms       1
34 bedrooms       1
14 bedrooms       1
20 bedrooms       1
Name: count, dtype: int64

In [173]:
data['bedRoom']=data['bedRoom'].str.strip().str.lower().fillna('')

In [174]:
data[data['bedRoom'].str.contains('[^\D]+' ,regex=True)]

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,rate,property_type,noOfFloor
0,2 BHK Flat in Krishna Colony,https://www.99acres.com/2-bhk-bedroom-apartmen...,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,flat,NaN
1,2 BHK Flat in Ashok Vihar,https://www.99acres.com/2-bhk-bedroom-apartmen...,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,flat,NaN
2,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN,flat,NaN
3,2 BHK Flat in Sector 61 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,NaN,flat,NaN
4,2 BHK Flat in Sector 92 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",NaN,flat,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,4 Bedroom House for sale in Sector 26 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,DLF City Phase 1,5.5 Crore,(167 sq.m.) Plot Area,Plot area 200(167.23 sq.m.),4 bedrooms,4 Bathrooms,3 Balconies,"Pooja Room,Study Room,Servant Room","Sector 26 Gurgaon, Gurgaon, Haryana",NaN,North-East,5 to 10 Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","Residential house, g block, dlf phase-1, gurga...","['10 Light', 'No AC', 'No Bed', 'No Chimney', ...","['Feng Shui / Vaastu Compliant', 'High Ceiling...",NaN,"₹ 30,556/sq.ft.",house,2 Floors
4115,3 Bedroom House for sale in DLF Phase 2,https://www.99acres.com/3-bhk-bedroom-independ...,DLF City Plots Phase 2,4.25 Crore,(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.),3 bedrooms,2 Bathrooms,3 Balconies,Study Room,"DLF Phase 2, Gurgaon, Haryana",NaN,North,10+ Year Old,"['Sahara Mall', 'Delhi Public School', 'Privat...","Residential house, k block, dlf phase-2, gurga...",NaN,"['High Ceiling Height', 'Maintenance Staff', '...","['Environment5 out of 5', 'Safety5 out of 5', ...","₹ 31,481/sq.ft.",house,2 Floors
4116,3 Bedroom House for sale in Sector 26 Gurgaon,https://www.99acres.com/3-bhk-bedroom-independ...,DLF City Phase 1,4.5 Crore,(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.),3 bedrooms,3 Bathrooms,2 Balconies,"Study Room,Servant Room","Sector 26 Gurgaon, Gurgaon, Haryana",NaN,East,5 to 10 Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","Residential house, e block 150 sq.Yds , dlf ph...","['6 Fan', '20 Light', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,"₹ 33,333/sq.ft.",house,2 Floors
4117,3 Bedroom House for sale in Sector 26 Gurgaon,https://www.99acres.com/3-bhk-bedroom-independ...,DLF City Phase 1,3.25 Crore,(91 sq.m.) Plot Area,Plot area 109(91.14 sq.m.),3 bedrooms,3 Bathrooms,3 Balconies,Study Room,"Sector 26 Gurgaon, Gurgaon, Haryana",NaN,West,10+ Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","Residential house, e block, dlf phase-1, gurga...","['5 Fan', '16 Light', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,"₹ 33,129/sq.ft.",house,2 Floors
4118,3 Bedroom House for sale in Bissar,https://www.99acres.com/3-bhk-bedroom-independ...,Silverglades Tarudhan Valley Golf Resort,3.6 Crore,(226 sq.m.) Plot Area,Plot area 270(225.75 sq.m.),3 bedrooms,3 Bathrooms,2 Balconies,"Pooja Room,Study Room,Servant Room,Others","Bissar, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,NaN,This 3 bhk house for sale in bissar is an idea...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Centrally Air Conditioned', 'Water purifier'...",NaN,"₹ 14,815/sq.ft.",house,2 Floors

regex method i cound't make work, so decided to try manual layman approach

In [175]:
data['bedRoom'].value_counts(dropna=False)

bedRoom
3 bedrooms     1590
2 bedrooms     1039
4 bedrooms      721
5 bedrooms      229
1 bedroom       143
                127
6 bedrooms       85
9 bedrooms       45
8 bedrooms       34
7 bedrooms       32
12 bedrooms      29
10 bedrooms      21
16 bedrooms      12
13 bedrooms       4
19 bedrooms       2
18 bedrooms       2
11 bedrooms       2
21 bedrooms       1
bedroom           1
36 bedrooms       1
34 bedrooms       1
14 bedrooms       1
20 bedrooms       1
Name: count, dtype: int64

In [176]:
data['bedRoom'] = data['bedRoom'].str.split(' ').str[0]
data['bedRoom']

0       2
1       2
2       2
3       2
4       2
       ..
4118    3
4119
4120
4121
4122
Name: bedRoom, Length: 4123, dtype: object

In [177]:
data['bedRoom'].value_counts()

bedRoom
3          1590
2          1039
4           721
5           229
1           143
            127
6            85
9            45
8            34
7            32
12           29
10           21
16           12
13            4
19            2
18            2
11            2
21            1
bedroom       1
36            1
34            1
14            1
20            1
Name: count, dtype: int64

In [178]:
data[data['bedRoom'].str.contains('bedroom')]

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,rate,property_type,noOfFloor
286,property_name,link,society,price,area,areaWithType,bedroom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,NaN,flat,NaN

In [179]:
data['bedRoom'].replace('bedroom', '', inplace=True)

In [180]:
data['bedRoom'].value_counts()

bedRoom
3     1590
2     1039
4      721
5      229
1      143
       128
6       85
9       45
8       34
7       32
12      29
10      21
16      12
13       4
18       2
19       2
11       2
20       1
21       1
36       1
34       1
14       1
Name: count, dtype: int64

In [181]:
data.sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,rate,property_type,noOfFloor
1395,2 BHK Flat in Sector 86 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Pyramid Urban Homes 2,43 Lac,"₹ 8,582/sq.ft.",Carpet area: 501 (46.54 sq.m.),2,2 Bathrooms,1 Balcony,Study Room,"155, Sector 86 Gurgaon, Gurgaon, Haryana",6th of 13 Floors,North-East,0 to 1 Year Old,"['Sapphire 83 Mall', 'Rampura Flyover, Naurang...",Pyramid urban homes 2 is one of gurgaon's most...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5...",NaN,flat,NaN
3755,4 Bedroom House for sale in South City 1,https://www.99acres.com/4-bhk-bedroom-independ...,NaN,11 Crore,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4,4 Bathrooms,2 Balconies,"Pooja Room,Study Room,Servant Room","South City 1, Gurgaon, Haryana",NaN,East,0 to 1 Year Old,"['Huda city centre metro station', 'Axis bank ...",Very well connected property from nh8 and conn...,"['5 Wardrobe', '9 Fan', '4 Geyser', '12 Light'...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5...","₹ 33,951/sq.ft.",house,3 Floors
1264,2 BHK Flat in Sector 85 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,SS The Leaf3.8 ★,1.05 Crore,"₹ 6,402/sq.ft.",Super Built up area 1640(152.36 sq.m.),2,2 Bathrooms,3 Balconies,NaN,"Sector 85 Gurgaon, Gurgaon, Haryana",11st of 26 Floors,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Check out this 2 bhk apartment for sale in ss ...,[],"['Security / Fire Alarm', 'Intercom Facility',...","['Green Area4.5 out of 5', 'Construction4.5 ou...",NaN,flat,NaN

In [183]:
data['bathroom'].value_counts(dropna=False)

bathroom
2 Bathrooms     1165
3 Bathrooms     1158
4 Bathrooms      872
5 Bathrooms      309
1 Bathroom       182
6 Bathrooms      128
NaN              127
7 Bathrooms       44
9 Bathrooms       42
8 Bathrooms       30
12 Bathrooms      23
10 Bathrooms      11
16 Bathrooms       8
13 Bathrooms       4
18 Bathrooms       4
11 Bathrooms       4
20 Bathrooms       3
17 Bathrooms       3
14 Bathrooms       2
21 Bathrooms       1
bathroom           1
36 Bathrooms       1
34 Bathrooms       1
Name: count, dtype: int64

In [188]:
data['bathroom'] = data['bathroom'].str.strip().str.split(' ').str[0]

In [190]:
data['bathroom'].value_counts()

bathroom
2           1165
3           1158
4            872
5            309
1            182
6            128
7             44
9             42
8             30
12            23
10            11
16             8
18             4
11             4
13             4
17             3
20             3
14             2
21             1
bathroom       1
36             1
34             1
Name: count, dtype: int64

In [193]:
data['bathroom'].replace('bathroom', '', inplace=True)

In [195]:
data['bathroom'].value_counts(dropna=False)

bathroom
2      1165
3      1158
4       872
5       309
1       182
6       128
NaN     127
7        44
9        42
8        30
12       23
10       11
16        8
13        4
18        4
11        4
20        3
17        3
14        2
21        1
          1
36        1
34        1
Name: count, dtype: int64

In [196]:
data['bathroom'].fillna('', inplace=True)

In [197]:
data['bathroom'].value_counts(dropna=False)

bathroom
2     1165
3     1158
4      872
5      309
1      182
6      128
       128
7       44
9       42
8       30
12      23
10      11
16       8
18       4
11       4
13       4
17       3
20       3
14       2
21       1
36       1
34       1
Name: count, dtype: int64

In [198]:
data.to_csv(r'F:\Github_dsc\HousePrice_MegaProject\2. data_cleaning\data\cleaned_level1.csv')